{
  "extends": [ "standard-react", "airbnb"],
  "parser": "babel-eslint",
  "env": {
    "browser": false,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
  	"indent": [2, 2],
    "no-debugger": 0,
    "no-console": 0,
    "new-cap": 0,
    "strict": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "eol-last": 0,
    "no-alert": 0,
    "quotes": [2, "single"],
    "jsx-quotes": [1, "prefer-single"],
    "react/jsx-no-undef": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/prop-types": 0,
    "react/jsx-indent-props": [0, "tab"],
    "jsx-a11y/img-has-alt": 0,
    "jsx-a11y/valid-aria-role": 0,
    "jsx-a11y/redundant-alt": 0,
    "no-nested-ternary": 0,
    eqeqeq: [0, 'allow-null']
  },
    "globals": {
        "document": true,
        "window": true,
        "alert": true,
        "FormData": true,
        "sessionStorage": true
    }
}